{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "AWS CloudFormation MyBB SNS template.",

  "Resources" : {
    "SNSTopic" : {
      "Type" : "AWS::SNS::Topic",
      "Properties" : {
        "Subscription" : [ {
          "Endpoint" : "yevhen.duma@gmail.com",
          "Protocol" : "email"
        } ]
      }
    }
  },
  "Outputs" : {
    "SNSTopic": {
      "Description" : "DNS name for database",
      "Value" : { "Ref" : "SNSTopic" }
    }
  }
}